/* GLOBAL STYLES---------------------------------*/
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(26, 110, 89);
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 60px;
  font-weight: 500;
}
h2 {
  font-size: 30px;
  font-weight: 300;
}
p {
  font-size: 20px;
  font-weight: 300;
}
.container {
  flex-grow: 1;
}
/* HEADER STYLE---------------------------------*/
header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  text-align: center;
  .pageTitle {
    .handle {
      margin: 5px auto 20px auto;
      font-size: 15px;
      font-weight: 400;
    }
  }
  nav {
    a {
      font-size: 18px;
      text-decoration: none;
      margin-left: 30px;
    }
  }
}

/* HOME PAGE STYLES-----------------------------*/
.mainImg {
  background: linear-gradient(rgba(0, 0, 0, 0.3)),
    url(/profolio-page00/images/20220505_vancouver_from_sky03.jpg) no-repeat
      center -30px;
  background-size: cover;
  height: 100vh;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
main {
  width: 80%;
  margin: auto;
  h2 {
    margin: 20px 0;
  }
}

/* FOOTER STYLES--------------------------------*/
footer {
  margin: 50px auto 0 auto;
  border-top: 1px solid rgb(26, 110, 89);
  text-align: center;
  height: 80px;
  width: 100%;

  .logoBar {
    display: flex;
    margin: auto;
    width: 100px;
    .gh {
      background-image: url(/profolio-page00/images/gh.png);
      background-size: contain;
      width: 30px;
      height: 30px;
      margin: 10px;
    }
    .cp {
      background-image: url(/profolio-page00/images/cp.png);
      background-size: contain;
      width: 30px;
      height: 30px;
      margin: 10px;
    }
  }
}

/* ABOUT STYLES---------------------------------*/
.about-me {
  width: 70%;
  margin: auto;
  .wrapper-main {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-about {
      background: linear-gradient(#d4d1d14b),
        url(/profolio-page00/images/20220505_van_park.JPG) no-repeat center;
      background-size: cover;
      height: 395px;
      width: 650px;
      box-shadow: 30px 30px 10px 3px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    main {
      margin-left: 80px;
    }
  }
  .wrapper-quote {
    text-align: center;
    margin-top: 150px;
    .quote {
      width: fit-content;
      text-align: center;
      border-bottom: 1px solid #41fccd;
      padding-bottom: 10px;
      font-size: 40px;
      font-style: italic;
    }
    .name {
      padding-top: 30px;
      font-size: 30px;
    }
  }
}
/* CONTACT STYLES-------------------------------*/
