/* GLOBAL STYLES---------------------------------*/
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #1a6e59;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 60px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* HEADER STYLE---------------------------------*/
header {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: center;
}

header .pageTitle .handle {
  margin: 5px auto 20px auto;
  font-size: 15px;
  font-weight: 400;
}

header nav a {
  font-size: 18px;
  text-decoration: none;
  margin-left: 30px;
}

/* HOME PAGE STYLES----------------------------*/
.mainImg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url(/assets/images/20220505_vancouver_from_sky03.jpg) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url(/assets/images/20220505_vancouver_from_sky03.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

main {
  width: 80%;
  margin: auto;
}

main h2 {
  margin: 20px 0;
}

/* FOOTER STYLES--------------------------------*/
footer {
  margin: 50px auto 0 auto;
  border-top: 1px solid #1a6e59;
  text-align: center;
  height: 80px;
  width: 100%;
}

footer .logoBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100px;
}

footer .logoBar .gh {
  background-image: url(/assets/images/gh.png);
  background-size: contain;
  width: 30px;
  height: 30px;
  margin: 10px;
}

footer .logoBar .cp {
  background-image: url(/assets/images/cp.png);
  background-size: contain;
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* ABOUT STYLES---------------------------------*/
.about-me {
  width: 70%;
  margin: auto;
}

.about-me .wrapper-main {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .wrapper-main .img-about {
  background: -webkit-gradient(linear, left top, left bottom, from(#d4d1d14b)), url(/assets/images/20220505_van_park.JPG) no-repeat center;
  background: linear-gradient(#d4d1d14b), url(/images/20220505_van_park.JPG) no-repeat center;
  background-size: cover;
  height: 395px;
  width: 650px;
  -webkit-box-shadow: 30px 30px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 30px 30px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.about-me .wrapper-main main {
  margin-left: 80px;
}

.about-me .wrapper-quote {
  text-align: center;
  margin-top: 150px;
}

.about-me .wrapper-quote .quote {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  border-bottom: 1px solid #41fccd;
  padding-bottom: 10px;
  font-size: 40px;
  font-style: italic;
}

.about-me .wrapper-quote .name {
  padding-top: 30px;
  font-size: 30px;
}

/* CONTACT STYLES-------------------------------*/
/*# sourceMappingURL=style.css.map */
